.container-turns {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px gray;
}

.form-group {
    margin-bottom: 10px
}

.create-font{
    font-size: 10px;
    color: black;
    font-weight: bolder;
    
}

.image{
    width: 120px;
    height: auto;
}

.image-container{
    padding-bottom: 20px;
}


.btn-style{
    box-shadow: 2px 2px 5px 1px gray;
}

.btn-pass{
    margin-left: 200px;
}
